*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# IDE - IntelliJ
.idea/
*.iws
*.out
*.app

# Android
app/google-services.json
.cxx/
*.apk
*.ap_
*.dex
*.class
bin/
gen/

# Secrets
local.properties
secrets.xml
